   body {
       font-family: 'Roboto', sans-serif;
       /* Default font */
   }

   h1 {
       font-family: 'Open Sans', sans-serif;
       /* Heading font */
       font-weight: 600;
       text-transform: capitalize;

   }

   p {
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
   }

   .alert-overlay {

       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.5);
       /* dim background */
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 1050;
       font-weight: bold;
       font-size: 1.5rem;
       color: white;
       text-transform: capitalize;
       /* above page, below modal */
   }