   body {
       font-family: 'Roboto', sans-serif;
       /* Default font */
   }

   h1 {
       font-family: 'Open Sans', sans-serif;
       /* Heading font */
       font-weight: 600;
       text-transform: capitalize;

   }

   p {
       font-family: 'Roboto', sans-serif;
       font-weight: 300;
   }

#liveAlertPlaceholder{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050; /* Ensure it appears above other elements */
}